node_modules/
dist/
.env
.vscode/
.DS_Store
README.md
Guia_proyecto_Cloud.md
Guia_proyecto_DeepSeek.md
ARQUITECTURA_CLEAN.md
Guia_desarrollo.md
README_CLEAN_ARCHITECTURE.md
DATOS_PRUEBA.md
GUIA_INICIO_PROYECTO.md
Lista_de_Tareas.md
start-dev.ps1
start-dev.sh
TODO_CORRECCIONES_PROYECTO.md
todo.md
clean-build.ps1
clean-build.sh
DISENO_FRONTEND.md
GUIA_PRUEBAS.md
FEEDBACK_Y_CORRECCION.md
GUIA_AUTENTICACION.md
INTEGRACION_DOCKER_COMPOSE.md
